#title{
  color: blue;
  font-size: 20px;
  width: 500px;
  border: 13px;
  margin: auto;

}
.style1{
  color: green;
  font-size: 20px;
  width: 500px;
  border: 13px;
  margin: auto;

}
#titel{
  color: green;
  font-size: 100px;
  width: 500px;
  border: 13px;
  margin: auto;
}
.style2{
  color: blue;
  font-size: 100px;
  width: 500px;
  border: 13px;
  margin-right: 0;

}
